<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Character</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>


    <body>     
        <div>
        <table style="width:100%">
		<tr>
			<td>Name</td>
			<td>GroupID</td>
			<td></td>
		</tr>
                <c: forEach items="${charInfo}" var="charInfo">
                    <td>
                        <p th:text="${charInfo}"/>
                    </td>
                    <td>
                        <p th:text="${charGroup}"/>
                    </td>
                    <td>
                        Play
                    </td>
                </c:>
        </div>
    </body>
            <form action="/homepage">
            <input type="submit" name="Back" value="Back">
        </form>
</html>
