<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Class selection</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <center>
    <body>
        Next, let's select your class <br>
            <div class="dropdown">
                <div id="races" class="dropdown-content">
                    <a href='Barbarian'>Barbarian</a>  
                    <a href='Bard'>Bard</a>  
                    <a href='Cleric'>Cleric</a>
                    <br>
                    <a href='Druid'>Druid</a>  
                    <a href='Fighter'>Fighter</a>  
                    <a href='Monk'>Monk</a>
                    <br>
                    <a href='Paladin'>Paladin</a>  
                    <a href ='Ranger'>Ranger</a>  
                    <a href='Rogue'>Rogue</a>
                    <br>
                    <a href='Sorcerer'>Sorcerer</a>  
                    <a href='Warlock'>Warlock</a>  
                    <a href='Wizard'>Wizard</a>
                </div>
            </div>
    </body></center>
</html>
