<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Gnome Info</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <center>
    <body>
        <div><h3> Gnome </h3>
            <b>Ability score increases:</b> Your intelligence score increases by 2<br>
            <b>Age:</b> Lifespan of 350-500 years<br>
            <b>Alignment:</b> Often good and leaning toward lawful<br>
            <b>Size:</b> Between 3 to 4ft tall and about 40lbs, Small<br>
            <b>Darkvision:</b> Superior vision in dark/dim conditions. In dim light, you can view 60ft as if it were bright. In darkness you cannot discern color. <br>
            <b>Gnome Cunning:</b> You have advantage on all Intelligence, Wisdom, and Charisma saving throws against magic.<br>
            <b>Languages</b> Common/Gnomish<br>
        </div>
        <form action="/charactercreate">
            <input type="submit" name="Back" value="Back">
        </form>
        <form action="/class">
            <input type="submit" name="Create" value="Create">
        </form>         
    </body></center>
</html>
