<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Human Info</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <center>
    <body>
        <div><h3> Human </h3>
            <b>Ability Score increase:</b> Each score increases by 1.<br>
            <b>Age:</b> Lifespan less than a century<br>
            <b>Alignment:</b> No particular alignment<br>
            <b>Size:</b> Human vary betwen 5 and 6 feet, Medium<br>
            <b>Speed:</b> Walking speed is 30ft<br>
            <b>Languages:</b> Common/One language of choice<br>
        </div>
        <form action="/charactercreate">
            <input type="submit" name="Back" value="Back">
        </form>
        <form action="/class">
            <input type="submit" name="Create" value="Create">
        </form>       
    </body></center>
</html>
