<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Tiefling race info</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <center>
    <body>
        <div><h3> Tiefling </h3>
            <b>Ability Score Increase:</b> Your Intelligence increases by 1. Your Charisma increases by 2 <br>
            <b>Age:</b> Roughly the same rate of age as humans.<br>
            <b> Alignment:</b> Usually Evil, inclined to chaotic.<br>
            <b> Size:</b> Same size and build as humans, Medium.<br>
            <b> Speed</b> Your walking speed is 30ft.<br>
            <b> Darkvision:</b> Superior vision in dark/dim conditions. In dim light, you can view 60ft as if it were bright. In darkness you cannot discern color. <br>
            <b> Hellish Resistance:</b> You have resistance to fire damage. <br>
            <b> Infernal Legacy</b> You know the Thaumaturgy cantrip. At level 3 you can cast Hellish Rebuke as a 2nd level spell, you regain this ability after a long rest. At level 5, you can cast darkness once per long rest. Charisma is you spellcasting ability for these spells.<br>
            <b> Languages:</b> Common/Infernal
        </div>
        <form action="/charactercreate">
            <input type="submit" name="Back" value="Back">
        </form>
        <form action="/class">
            <input type="submit" name="Create" value="Create">
        </form> 
    </body></center>
</html>
